sudo: required
dist: trusty
language: node_js
node_js:
  - "5"
  - "6"
  - "7"
before_script:
  - npm install -g coveralls
script:
   - make ci
   - npm run benchmark
   - npm run benchmark2
branches:
  only:
  - master
after_success:
 - cat ./coverage/lcov.info | coveralls
notifications:
  irc: "irc.freenode.org#bucharest-gold"
